@import url("./globals.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
